﻿#tabmenu{
    text-align: left;
    padding: 0px;
    font-size: 14px;
    clear: both;
}

table.tab_menu
{
	height: 23px;
	/*width: 100%;*/
	font-weight: bold;
	color: #FFFFFF;
}

table.tab_menu td.unselected
{
	color: #707070;
	background-color: #D9DDE1;
	background-repeat: no-repeat; 
	background-position: right center;
	/*
	background-position-x: right; 
	background-position-y: center; 
	*/
	background-image: url(/media/img/tab_corner_unselected.gif);
	border-bottom-color: #A4A6A9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

table.tab_menu td.selected
{
	background-color: #A4A6A9;
	background-repeat: no-repeat; 
	background-position: right center;
	/*
	background-position-x: right; 
	background-position-y: center; 
	*/
	background-image: url(/media/img/tab_corner_selected.gif);	
	border-bottom-color: #A4A6A9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

table.tab_menu td.highlight
{
	background-color: #A4A6A9;
	background-repeat: no-repeat; 
	background-position: right center;
	/*
	background-position-x: right; 
	background-position-y: center; 
	*/
	background-image: url(/media/img/tab_corner_unselected.gif);	
	border-bottom-color: #A4A6A9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

table.tab_menu td.spacer
{
	padding-left: 5px;
	padding-right: 5px;
	border-bottom-color: #A4A6A9;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
}

table.tab_menu td.selected a.tabmenulink{
	color: #ffffff;
    text-decoration: none;
}

table.tab_menu td.unselected a.tabmenulink{
	color: #707070;
    text-decoration: none;
}

table.tab_menu td.selected a.tabmenulink:hover{
    text-decoration: underline;
}

table.tab_menu td.unselected a.tabmenulink:hover{
    text-decoration: underline;
}
