{% extends "base.html" %}

{% block head_title %}
Edit __Model__
{% endblock %}

{% block content %}

    <form id="form1" method="post" action='..'>
        <div>
            <h1>Edit __Model__</h1>
            <p />
		    <table class="input_table">
                __attr_inputs__
        	    <tr><td colspan="2">&nbsp;</td></tr>
			    <tr>
				    <th></th>
				    <td align="right">
				        <img alt="OK" id="ok_button" src="{{media__root__url}}/img/ok.jpg" width="20px" height="20px" title="OK" style="cursor:pointer"/>&nbsp;
	                    <img alt="Cancel" id="cancel_button" src="{{media__root__url}}/img/cancel.jpg" title="Cancel" width="20px" height="20px" style="cursor:pointer"/>&nbsp;
                    </td>
			    </tr>
		    </table>
	    </div>
	    __hidden_parent_input__
    </form>

{% endblock %}

{% block script %}

    <script type="text/javascript">

        $(document).ready(function()
        {
            $("#cancel_button").click(function(){
                window.open('../', '_self')
            });

            $("#ok_button").click(function(){
                try
                {
                    if(!validate_fields())  return false;
                    document.forms[0].submit();
                    return true;
                }
                catch(e)
                {
                    alert(e.message);
                    return false;
                }
            });
        });

        function validate_fields()
        {
            // validate fields

            return true;
        }

    </script>

{% endblock %}
