{% extends "base.html" %}

{% block cssincludes %}
 	<link rel="stylesheet" type="text/css" href="{{media__root__url}}/css/jquery-ui.css"/>
{% endblock %}

{% block scriptincludes %}
    <script type="text/javascript" src="{{media__root__url}}/js/jquery-ui.min.js"></script>
{% endblock %}

{% block documentready %}
{% endblock %}

{% block head_title %}
__Model__ List
{% endblock %}

{% block topmenu %}
    __top_menu_url__
{% endblock %}

{% block content %}

    <form id="form1" runat="server">
    <div>
        <h1>__Model__</h1>
        <table width='100%'>
            __parent_select_starts__
            <tr>
                <td>
                    __Parent__
                </td>
                <td align="left">
                    <select id='__parent___select' name='__parent___select'>
                        {% for __parent__ in __parent__s %}
                            <option value='{{ __parent__.id }}'>{{ __parent__.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                </td>
            </tr>
            __parent_select_ends__
            <tr>
                <td colspan="2">
                    <table class='detailstable'>
                        <tr>
                            __attr_titles__
                            <th id='action_th' colspan='3' align="left">Actions</th>
                        </tr>
                        {% for __model__ in __model__s %}
                            <tr>
                                __attr_values__
                                <td id="td_show_{{__model__.id}}" mid="{{__model__.id}}"><a href="__show_url__">Show</a></td>
                                <td id="td_edit_{{__model__.id}}" mid="{{__model__.id}}"><a href="__edit_url__">Edit</a></td>
                                <td id="td_delete_{{__model__.id}}" mid="{{__model__.id}}"><a href="#">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
    </div>
    </form>
    <p />

    <div id="div_add"><a href="new/">Add New...</a></div>

    <div id='div_dialog' class='content'>
        <span id='span_confirm'>Do you really want to remove?</span>
        <span id='span_result'>Successfully removed</span>
        <br />
        <br />
        <input type='button' id='ok_button' name='ok_button' value='OK' />
        &nbsp;<input type='button' id='cancel_button' name='cancel_button' value='Cancel' />
        <input type='hidden' id='selected_id' name='selected_id' value='' />
    </div>

{% endblock %}

{% block script %}

    <script type="text/javascript">

        $(document).ready(function()
        {
            __parent_select_script_starts__
            $("#__parent___select").val('{{__parent__.id}}');
            $("#__parent___select").change(function(){
                window.open('{{root__url}}/__parent__s/' + $(this).val() + '/__model__s/', '_self');
                return false;
            });
            __parent_select_script_ends__
            

            $("td[id^='td_delete_']").click(function(){

                $("#div_dialog").find("#selected_id").attr('value', $(this).attr('mid'));
                $("#div_dialog").find("#span_confirm").show();
                $("#div_dialog").find("#span_result").hide();
                $("#div_dialog").find("#cancel_button").show();
                open_dialog('confirm');

                return false;
            });
            

            // set the properties of modal dialog
            $("#div_dialog").dialog({
                bgiframe: true,
                autoOpen: false,
                width: 250,
                height: 120,
                //hide: 'slide',
                modal: true
            });

            // register the 'ok' button in the dialog
            $("#div_dialog").find("#ok_button").click(function(){

                $("#div_dialog").dialog('close');

                var selected_id = $("#div_dialog").find("#selected_id").attr('value');
                if(selected_id != '')
                {
                    remove(selected_id);
                }
                else
                {
                    window.open('.', '_self');
                }

                return false;
            });

            // register the 'cancel' button in the dialog
            $("#div_dialog").find("#cancel_button").click(function(){
                $("#div_dialog").dialog('close');
                return false;
            });
        });

        function open_dialog(title)
        {
            // do something necessary before opening the dialog

            $("#div_dialog").dialog('open');
            $("#div_dialog").dialog({title:title});

            // do something necessary after opening the dialog
        }
        
    </script>

    <script type="text/javascript">

        function remove(id)
        {
            $.ajax({
	        type: 'DELETE',
                url: '__delete_url__' + id + '/',
                dataType: 'json',
                data: 'time=' + (new Date()).getTime(),
                processData: false,
                async: false,
                beforeSend: function(XMLHttpRequest) { before_remove(XMLHttpRequest); },
                complete: function(XMLHttpRequest) { complete_remove(XMLHttpRequest); },
                error: function(XMLHttpRequest, textStatus, errorThrown) { remove_failed(XMLHttpRequest, textStatus, errorThrown); },
                success: function(result, textStatus) { remove_succeeded(result, textStatus); }
            });
        }

        function before_remove(XMLHttpRequest)
        {
        }

        function complete_remove(XMLHttpRequest)
        {
        }

        function remove_failed(XMLHttpRequest, textStatus, errorThrown)
        {
            alert(XMLHttpRequest.responseText);
        }

        function remove_succeeded(result, textStatus)
        {
            //alert('Successfully removed');
            $("#div_dialog").find("#selected_id").attr('value', '');
            $("#div_dialog").find("#span_confirm").hide();
            $("#div_dialog").find("#span_result").show();
            $("#div_dialog").find("#cancel_button").hide();
            open_dialog('info');
        }

    </script>

{% endblock %}
