{% extends "base.html" %}

{% block head_title %}
View __Model__
{% endblock %}

{% block cssincludes %}
 	<link rel="stylesheet" type="text/css" href="{{media__root__url}}/css/jquery-ui.css"/>
{% endblock %}

{% block scriptincludes %}
    <script type="text/javascript" src="{{media__root__url}}/js/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}

    <h1>View __Model__</h1>
    <p />
    <table class="input_table">
        __parent_info__
	    __attr_values__
	    <tr><td colspan='2'>&nbsp;</td></tr>
	    <tr>
		    <th></th>
		    <td align="right">
		        __back_link_url__
            </td>
	    </tr>
    </table>

    <div id="dialog">
    </div>

{% endblock %}

{% block script %}

    <script type="text/javascript">

        $(document).ready(function()
        {
            // set the properties of modal dialog
            $("#div_dialog").dialog({
                bgiframe: true,
                autoOpen: false,
                width: 400,
                height: 150,
                //hide: 'slide',
                modal: true
            });

            // register the 'ok' button in the dialog
            $("#div_dialog").find("#ok_button").click(function(){

                // do something necessary

                $("#div_dialog").dialog('close');
                return false;
            });

            // register the 'cancel' button in the dialog
            $("#div_dialog").find("#cancel_button").click(function(){
                $("#div_dialog").dialog('close');
                return false;
            });
        });

        function open_dialog()
        {
            // do something necessary before opening the dialog

            $("#div_dialog").dialog('open');
            $("#div_dialog").dialog({title:''});

            // do something necessary after opening the dialog
        }

    </script>

{% endblock %}
