{% extends "base.html" %}

{% block content %}

<p />
We're sorry, but the page you are trying to access isn't on our server.
You might want to go to our <a href='/portal/'>customer portal page.</a>
<p />

{% endblock %}
