{% extends "base.html" %}

{% block content %}

<p />
Oops!  Our server encountered an error processing your request.  Please refresh the page and try again.
<br />
If the problem persists, please <a href='{{root__url}}/login'>return to the login page</a> to restart your session.
<br />
<br />
If you are a customer and still need help, please contact our service desk at 1-800-441-1181.
<p />

<br />
<br />
<div style="display:inline">
{{ error_message }}
</div>

{% endblock %}