﻿
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>{% block head_title %}{% endblock %}</title>
 	<link rel="stylesheet" type="text/css" href="{{media__root__url}}/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="{{media__root__url}}/css/jquery-ui.min.css" />
    {% block cssincludes %}
    {% endblock %}
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{{media__root__url}}/css/ie.css" /><![endif]-->
    
    <script type="text/javascript" src="{{media__root__url}}/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{media__root__url}}/js/jquery-ui.min.js"></script>
    {% block scriptincludes %}
    {% endblock %}
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{{media__root__url}}/css/ie.css" /><![endif]-->
</head>
 

<body>

<br />
<div class="breadcrumbs" style="text-align:left">
    {% block topmenu %}
    {% endblock %}
</div>
<br />


{% block content %}

{% endblock %}

</body>
</html>

{% block script %}

{% endblock %}

{% block child_script %}

{% endblock %}
