{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block cssincludes %}
{% endblock %}

{% block autosuggeststart %} {% endblock %}
{% block autosuggest %} {% endblock %}

{% block scriptincludes %}
{% endblock %}

{% block scriptsection %}

<script type="text/javascript" type="text/javascript">

    $(document).ready(

        function(){
            // set the properties of modal dialog
            $("#div_dialog").dialog({
                bgiframe: true,
                autoOpen: false,
                width: 350,
                height: 150,
                //hide: 'slide',
                modal: true
            });

            $("#reset_password").click(function(){
                $("#div_dialog").show();
                $("#div_dialog").dialog('open');
                $("#div_dialog").dialog({title:'Reset Password'});
                return false;
            });
            
            // register the 'ok' button in reset dialog
            $("#div_dialog").find("#ok_button").click(function(){
                var email_address = $("#div_dialog").find("#email_address_to_reset").val();
                if(email_address == '')
                {
                    alert("Email Address is not entered");
                    return false;
                }
                reset_password(email_address);
                $("#div_dialog").dialog('close');
                return false;
            });

            // register the 'cancel' button in reset dialog
            $("#div_dialog").find("#cancel_button").click(function(){
                $("#div_dialog").dialog('close');
                return false;
            });
        }
    );
</script>
{% endblock %}

{% block content %}
    <form name="loginform" method="post" action="{{root__url}}/login/" >
		<fieldset>		 
            <legend><b>{{ app_name }}</b> Login</legend> 
            {%ifequal status 'FAIL' %}
			<dl>
                <dt><label for="username">Email Address</label></dt>
                <dd><input type="text" name="username" id="username" style="width: 180px" value="{{ email }}"> </dd>				
            </dl>
            <dl>
                <dt><label for="password">Password</label></dt>
                <dd><input type="password" name="password" id="password" style="width: 180px">
					<span style="DISPLAY: none" id="_58_passwordCapsLockSpan">Caps Lock is on.</span> </dd>						
            </dl>
            <input type="submit" name="submit" id="submit" value="Sign In" />
            <br /><br />
            Forgot password?<br />
            <a id='reset_password' href='#'>Click here</a> to reset password.
            <br />
			{% else %}			
				{% if result %}								
					You are logged in as <b>{{ result.username }}</b>
					<br>User id is <a href="/home">{{ result.userid }}</a>
					{% if auth_result %}
						<b>{{ auth_result }}</b>
					{% endif %}	
				{% endif %}			 			
			{% endifequal %}			 		
			{% if msg %}
			<br><span style="color:rgb(300,0,0)" style="font-size:medium">{{ msg }}</span>
			{% endif %}
        </fieldset>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

<div id='div_dialog' class='content' style="display:none">
    <table>
        <tr id='tr_email_address'>
            <td>Email Address</td>
            <td colspan="2">
                <input id="email_address_to_reset" name="email_address_to_reset" type="text" style="width:200px" />
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td align="right"><input id="ok_button" type="button" value="Reset" />&#160;<input id="cancel_button" type="button" value="Cancel" />
            </td>
        </tr>
    </table>
</div>
    
{% endblock %}


{% block script %}

<script type="text/javascript">
    function reset_password(email_address)
    {
		var url = '{{ root__url }}/../portal/users/reset/';
        var request_json = '{"input":{"activate":false, "email_address":"' + email_address + '"}, "ret_type":"json"}';

    	var ajax_request = new AjaxRequest();
		ajax_request.put(url, request_json, null, reset_password_succeeded, null, null);
    }

    function reset_password_succeeded(result, textStatus)
    {
        alert('Reset Password was successfully requested.\nCheck your email and follow the link to change the password.');
    }
    
</script>

{% endblock %}
